*{
    /*border: 1px solid red;*/

}
body {
    height: 100vh; /* Altura completa para centrar el contenido */
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
    background-color: #f8f9fa; /* Fondo suave para el cuerpo */
    margin: 0;
    padding: 0;

}

.formulario{
    width: 85%; /* Ancho del 75% de la pantalla */
    min-height: 75vh; /* Altura mínima del 75% de la pantalla */
    padding: 0px; /* Espaciado interno */
    background-color: white; /* Fondo blanco para el formulario */
    border: 1px solid gray; /* Borde para separar el formulario */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* Sombra para darle profundidad */
    border-radius: 10px; /* Bordes redondeados */

}

.formulario label {
    margin-bottom: 10px; /* Espacio entre etiquetas y campos de entrada */
    display: block; /* Asegura que el label ocupe toda la anchura */
}


.pay{
    display: flex;
    border-bottom: 2px solid #d8d8d8; /* Borde gris debajo del título */
    padding-bottom: 10px; /* Espacio debajo del texto antes del borde */
    margin-bottom: 10px; /* Espacio después del borde */
    background-color: #f7f7f7;
    justify-content: left; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
    padding-left: 0;
    padding-right: 0;
    border-radius: 10px; /* Bordes redondeados */

}
.pay h1{
    margin-top: 15px;
    text-align: left; /* Alinea el texto en el centro */
    font-size: 2em; /* Ajusta el tamaño de la fuente si es necesario */
    margin-left: 15px;

}
.mensaje{
    display: flex;
    margin-left: 15px;
    margin-right: 15px;
    height: 50px;
    background-color:#f7d7da;
    border-radius: 10px; /* Bordes redondeados */
    justify-content: left; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */


}
.mensaje p{
    margin-top: 15px;
    margin-left: 20px;
    color: #682d31;
    font-weight: bold;
   
}
.row {
    margin-bottom: 20px; /* Aumentar el espacio entre filas */
    padding-left: 15px; /* Para evitar que las columnas estén pegadas al borde */
    padding-right: 15px;
    
}

.dollar{
    display: flex;
}

.pagosms{
    justify-content: space-between;
}

.pagosms p{
    font-size: small;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgba(172, 166, 166, 0.999);

}
.iconospago{
    display: flex; /* Hace que los íconos se alineen horizontalmente */
    flex-direction: row; /* Alinea de izquierda a derecha */
    width: 260px;
    height: 50px;
    background-color: #6b757f;
    padding: 10px;
    border-radius: 5px; /* Bordes redondeados para suavizar */
    align-items: center; /* Centra verticalmente */
    justify-content: space-evenly;/* Espacio uniformemente los íconos */
    
}
.iconospago i {
    margin-right: 30px; /* Espacio entre íconos */
    font-size: 1.5rem;
}
.envío{
    display: flex;
    border-top: 2px solid #d8d8d8; /* Borde gris debajo del título */
    background-color: #f7f7f7;
    flex-direction:row-reverse; /* Alinea de derecha a izquierda */
    padding-top: 10px; /* Espacio debajo del texto antes del borde */
    margin-top: 10px; /* Espacio después del borde */
    border-radius: 10px; /* Bordes redondeados */
    padding-left: 0;
    padding-right: 0;
    align-items: center; /* Centra verticalmente */
}


.cancelar{
    background-color:#6c757c ;
    margin-right: 10px; /* Espacio entre íconos */
    align-items: center; /* Centra verticalmente */
    margin-bottom: 10px;
}
.enviar{
    background-color: #167ffc;
    margin-right: 10px; /* Espacio entre íconos */
    margin-bottom: 10px;
}

.textarea {
    width: 100%; /* Ocupa toda la anchura del contenedor */
}